<div class="col-md-4">
    <div class="course-card">
        <img src="<%= course.imageUrl %>" alt="course image" class="course-image mb-3">
        <h5><%= course.title %></h5>
        <p><%= course.description %></p>
        <button class="open-course-btn">Open Course</button>
    </div>
</div>